*{
    font-family: "Montserrat", sans-serif;
}

#slide-1,#slide-2,#slide-3,#slide-4,#slide-5, #slide-6,#slide-7, #slide-8, #slide-9,#slide-10, #slide-11, #slide-12 {
  width: 100%;
  height: 100vh;
  padding: 40px;

}

#slide-1{
  background-color: #33ccff;
  text-align: center;
}

#slide-2{
  background-color: #F27A5F;

}

#slide-3{
  background-color: #B3CE41;
}


#slide-4{
  text-align: center;
  background-color: #AC66CC;
}

#slide-5{
  background-color: #E8B03F;
  padding: 0;
}

#slide-6{
  background-color: #E8B03F;
  padding: 40px;

}

#slide-7{
  background-color: #F27A5F;
  padding: 0;
}
#slide-8{
  background-color: #33ccff;
  padding: 0;
}
#slide-9{
  background-color: #B3CE41;
  padding: 0;
}
#slide-10{
  background-color: #AC66CC;
  padding: 0;
}
#slide-11{
  background-color: #AC66CC;
  padding: 0;
}

#slide-12{
  background-color: #33ccff;
  padding: 0;
}




.title{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#mouse{
  margin-top: 120px;
  width: 30%;
}

h1{
  margin: 0;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 40px;
  text-align: center;
  font-size: 26px;
}

h2{
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
}

h4{
  color: white;
  text-align: center;
  font-size: 40px;
  vertical-align: center;
  margin-top: 35vh;
}

.child-mouse{
  width: 150px;

}


.modal-title{
  color: #000;
  display: inline;
}

.modal-body{
  color: #000;
}

/* DivTable.com */
.divTable{
  font-size: 30px;
  text-align: center;
	display: table;
	width: 100% !important;
}
.divTableRow {
  width: 100%;
	display: table-row;
}
.divTableHeading {
	background-color: #FFF;
	display: table-header-group;
}
.divTableCell, .divTableHead {
  font-size: 20px;
	border: 4px solid #FFF;
	display: table-cell;
	padding: 3px 10px;
}

.cell{
  height: 150px;
}
.divTableHeading {
	background-color: #FFF;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #FFF;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.alco{
  width: 100px;
  margin: 0;
}

.kid-mice{
  display: none;
}

.active{
  display: block !important;
}

.done{
  display: none;
}

.full{
  transition: all 0.5s ease;
}

.full:hover{
  cursor: pointer;
  transform: scale(1.2);

}

#slide-3 h1{
  font-size: 40px;
  text-align: left;

}

#slide-3 h5{
  margin: 30px;
  margin-left: 0;
  font-size: 20px;
}


.button{
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  border: 2px solid #000;
  width: 200px;

  transition: all 0.5s ease;
}

.button:hover{
  cursor: pointer;
  color: #fff;
  background: #000;
}

.meme{
  height: 100%;

}

#after-drink{
  display: none
}

.chalkboard ul{
  list-style: circle;
  color: #fff;
  text-align: left;
  font-family: 'Coming Soon' !important;
}

.chalkboard li{
  font-family: 'Coming Soon' !important;
  line-height: 30px;
  font-size: 20px;

}

.happy-right{
  text-align: center;
  padding: 40px;
  width: 50%;
  height: 100vh;
  background-color: #1D74BC;
  float: right;
}

.happy-left{
  text-align: center;
  padding: 40px;
  width: 50%;
  height: 100vh;
  background-color: #0A938F;
  float: left;
}

.chalkboard{
  padding: 40px;
  width: 100%;
  background-color: #332F30;
  border: 10px solid #955F25;
  height: 450px;
}

.hap{
  display: table;
 width: 100%;
}

#slide-5{
  color: #fff;
}

.happy-left h2{
  font-family: 'Coming Soon' !important;
  font-size: 30px;
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-transform: none;


}

#after-drink li{
  font-size: 20px;

}

#info{
  transition: all 0.5s ease;
}

#info:hover{
  color: #FC9A38;
  cursor: pointer;

}


.modal-body li, .modal-body ul{
  font-family: "Montserrat", sans-serif !important;
  color: #000;
  font-size: 16px !important;
}

#slide-6 h5{
  margin: 0;
  text-align: center;
  font-size: 30px;
}

.canada{
  margin-top: 20px;
  text-align: center;
  padding: 0px 20px 0px 20px;
  width: 50%;
  float: right;
}

.ontario{
  margin-top: 20px;
  text-align: center;
  padding: 0 20px 0 20px;
  width: 50%;
  float: left;
  border-right: 2px solid #686868;
}

.tabs{
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #D67F00;

}

.wrstats{
  text-align: left;
  font-size: 14px;
  padding: 10px;

}

.canstats{
  background-color: #D67F00;
  padding: 20px;
  height: 500px;
  text-align: left;
}


.graph-img{
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
.tabs h2{
  display: inline-block !important;
  background-color: #D67F00;
  padding: 10px;
  margin: 0;
  text-align: center;
  width: 49.5%;
  margin-bottom: 0;
  cursor: pointer;
  transition: all 0.5s ease;
}

.tabs h2:hover{
  background-color: #995402;
}

.city{
  word-wrap: break-word;
  background-color: #D67F00;
  width: 100%;
  font-size: 20px;

}

.city{
  display: none;
}
.down{
  margin-top: 40px;

}

.down li{
  font-size: 18px !important;
}

#ese, #linux{
  height: 450px;
}

#ese{
  text-align: center;
}
#ese-pure{
  background-color: #D67F00;
}

.ese-info{
  margin: 0;
  display: inline-block;
}

.active3{
  display: block !important;
}

.active2{
  background-color: #D67F00;
}
