*{
    font-family: "Montserrat", sans-serif;
}

#slide-1,#slide-2,#slide-3,#slide-4,#slide-5, #slide-6,#slide-7, #slide-8, #slide-9,#slide-10, #slide-11, #slide-12 {
  width: 100%;
  height: 100vh;
  padding: 40px;

}

#slide-1{
  background-color: #33ccff;
  text-align: center;
}

#fronttitle{
}

#m1, #m2, #m3{
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 position: fixed;
 z-index: -1;
 background: url(../images/a1.svg) 5% 70% no-repeat;
}

#m2{
 background: url(../images/a2.svg) 95% 90% no-repeat;
}

#m3{
 background: url(../images/a3.svg) 45% 100% no-repeat;
  top: 600px;
}

.parallax-window {
  width: 100%;
  height: 100vh;
  padding: 40px;
}

#slide-2{
  overflow: hidden !important;
}

#slide-3{

}


#slide-4{
  text-align: center;
  background-color: #AC66CC;
}

#slide-5{
  background-color: #E8B03F;
  padding: 0;
}

#slide-6{
  background-color: #E8B03F;
  padding: 40px;

}

#slide-7{
  background-image: url('../images/back2.png');
  background-size: cover;
  background-position: center;
  background-color: #02131d;
  padding: 40px;
}
#slide-8{
  background-color: #0a8899;
  padding: 40px;
  padding-top: 20px;


}

.mid{
  border-right: 2px dashed #fff;
  border-left: 2px dashed #fff;
}

.rbottom{
  padding-top: 40px;
  margin-top: 30px;
  border-top: 2px dashed #fff;
}

.rtop{
  padding-top: 40px;
  margin-top: 20px;
  border-top: 2px dashed #fff;
}

#slide-8 h1{

    font-size: 13px;
    color: #fff;
    text-align: left;
    font-weight: 100;
    line-height: 20px;
}


#slide-7 h1{
  color: #feb41c;

}


.container2{
  margin-left: 50px;
 width: 950px;
}

.jsmaps{
  width: 800px !important
}
#purtitle{
  margin: 0 auto;
  display: block;
  width: 200px;
}

#slide-9{
  background-color: #8B9E1E;
  padding: 40px;
}

.num{
  float: left;
  height: 60px;
}

#slide-9 .row{
  margin: 20px 0 20px 0;
  padding-bottom: 30px;
  display: flex;

}

#slide-9 .col-xs-3{
  border-right: 2px dashed #fff;
  display: table-cell;
  padding: 20px;

}

.rowtop{
  display: block;
}

#slide-9 .col-sx-11{
  display: table-column;
  vertical-align: middle;
}

#slide-9 h1{

    font-size: 13px;
    color: #fff;
    text-align: left;
    font-weight: 100;
    line-height: 20px;
}

#slide-10{
  background-color: #AC66CC;
  padding: 0;
}
#slide-11{
  background-color: #AC66CC;
  padding: 4px;
}

#slide-12{
  background-color: #33ccff;
  padding: 0;
}

.hello{
  width: 300px;
  display: table;
  float: left;
  margin-right: -300px;
  padding-left: 140px;
}

a{
  color: #000 !important;
}

a:hover{
  color: #686868;
}


.title{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#mouse{
  margin-top: 120px;
  width: 30%;
}

h1{
  margin: 0;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 40px;
  text-align: center;
  font-size: 26px;
}

h2{
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
}

#slide-2 h4{
  color: white;
  text-align: center;
  font-size: 40px;
  vertical-align: center;
  margin-top: 35vh;
}

.child-mouse{
  width: 100px;

}


.modal-title{
  color: #000;
  display: inline;
}

.modal-body{
  color: #000;
}

/* DivTable.com */
.divTable{
  margin-top: 40px;
  font-size: 30px;
  text-align: center;
	display: table;
	width: 100% !important;
}
.divTableRow {
  width: 100%;
	display: table-row;
}
.divTableHeading {
	background-color: #FFF;
	display: table-header-group;
}
.divTableCell, .divTableHead {
  font-size: 20px;
	border: 4px solid #FFF;
	display: table-cell;
	padding: 3px 10px;
  color: #fff;
  background-color: #04293c;
}

.cell{
  height: 150px;
}
.divTableHeading {
	background-color: #FFF;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #FFF;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.alco{
  width: 100px;
  margin: 0;
}

.kid-mice{
  display: none;
}

.active{
  display: block !important;
}

.done{
  display: none;
}

.full{
  transition: all 0.5s ease;
}

.full:hover{
  cursor: pointer;
  transform: scale(1.2);

}

#slide-3 h1{
  color: #fff;
  font-size: 40px;
  text-align: left;

}

#slide-3 h5{
  color: #fff;
  margin: 30px;
  margin-left: 0;
  font-size: 20px;
}

#slide-3 li{
  color: #fff;
}


.button{
  margin: 20px;
  width: 200px;

  transition: all 0.5s ease;
}

.button:hover{
  cursor: pointer;
  color: #fff;
  transform: scale(1.2);
}

.meme{
  height: 100%;

}

#after-drink{
  display: none
}

.chalkboard ul{
  list-style: circle;
  color: #fff;
  text-align: left;
  font-family: 'Coming Soon' !important;
}

.chalkboard li{
  font-family: 'Coming Soon' !important;
  line-height: 30px;
  font-size: 20px;

}

.happy-right{
  text-align: center;
  padding: 40px;
  width: 50%;
  height: 100vh;
  background-color: #1D74BC;
  float: right;
}

.happy-left{
  text-align: center;
  padding: 40px;
  width: 50%;
  height: 100vh;
  background-color: #0A938F;
  float: left;
}

.chalkboard{
  padding: 40px;
  width: 100%;
  background-color: #332F30;
  border: 10px solid #955F25;
  height: 450px;
}

.hap{
  display: table;
 width: 100%;
}

#slide-5{
  color: #fff;
}

.happy-left h2{
  font-family: 'Coming Soon' !important;
  font-size: 30px;
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-transform: none;


}

#after-drink li{
  font-size: 20px;

}

#info{
  transition: all 0.5s ease;
}

#info:hover{
  color: #FC9A38;
  cursor: pointer;

}


.modal-body li, .modal-body ul{
  font-family: "Montserrat", sans-serif !important;
  color: #000;
  font-size: 16px !important;
}

#slide-6 h5{
  margin: 0;
  text-align: center;
  font-size: 30px;
}

.canada{
  margin-top: 20px;
  text-align: center;
  padding: 0px 20px 0px 20px;
  width: 50%;
  float: right;
}

.ontario{
  margin-top: 20px;
  text-align: center;
  padding: 0 20px 0 20px;
  width: 50%;
  float: left;
  border-right: 2px solid #686868;
}

.tabs{
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #D67F00;

}

.wrstats{
  text-align: left;
  font-size: 14px;
  padding: 10px;

}

.canstats{
  background-color: #D67F00;
  padding: 20px;
  height: 500px;
  text-align: left;
}


.graph-img{
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
.tabs h2{
  display: inline-block !important;
  background-color: #D67F00;
  padding: 10px;
  margin: 0;
  text-align: center;
  width: 49.5%;
  margin-bottom: 0;
  cursor: pointer;
  transition: all 0.5s ease;
}

.tabs h2:hover{
  background-color: #995402;
}

.city{
  word-wrap: break-word;
  background-color: #D67F00;
  width: 100%;
  font-size: 20px;

}

.city{
  display: none;
}
.down{
  margin-top: 40px;

}

.down li{
  font-size: 18px !important;
}

#ese, #linux{
  height: 450px;
}

#ese{
  text-align: center;
}
#ese-pure{
  background-color: #D67F00;
}

.ese-info{
  margin: 0;
  display: inline-block;
}

.active3{
  display: block !important;
}

.active2{
  background-color: #D67F00;
}

.card_container {
  position: relative;
  margin: 1px auto;
  padding: 3px;
  width: 9em;
  height: 12em;
  line-height: 12em;
  z-index: 1;
}
.card_container {
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.card {
  background-image: url('../images/neuron2.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip .card{
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  color: white;
  font-size: 7.5em;
  background-color: #FFCC66;
  border-radius: 3px;
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

table {
	margin: 0px auto;
}

.hello {

}
.timer {
  display: block;
  margin: 10px auto;
  position: relative;
  width: 150px;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  font-size: 40px;
  text-align: center;
  color: #999;
}

.startbtn {
  display: block;
  margin: 10px auto;
  position: relative;
  text-align: center;
}

.cntr {
  margin: 15px auto;
}

.points {
  position: absolute;
}
